.purple{
    color:purple;
}
.bold{
    font-weight:bold;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.board{
    position:absolute;
    width:300px;
    height:300px;
    background-color: black;
}
.piece{
    position:absolute;
    width:15px;
    height:15px;
    background-color: white;
}
.goal{
    position: absolute;
    width:15px;
    height:15px;
    background-color: yellow;
}
#win{
    text-align:center;
}